.tabs {
  display: flex;
  justify-content: space-around;
  background: #f7f7f7;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  overflow-x: auto;
}

button {
  background: none;
  border: none;
  padding: 20px;
  font-size: 16px;
  cursor: pointer;
}

.selected {
  outline: none;
  border-bottom: 2px solid #666;
}

.tabs::-webkit-scrollbar {
  height: 5px;
}

.tabs::-webkit-scrollbar-track, #SUMMARY {
  background: #f1f1f1;
}

.tabs::-webkit-scrollbar-thumb {
  background: #888;
}

.tabs::-webkit-scrollbar-thumb:hover {
  background: #555;
}
