<app-tabs>
</app-tabs>

	<div [ngClass]="{'justify-content-center': selectedDay === 'SUMMARY'}" class="d-flex align-items-center expense-entry">
		@if (!isFormActive && selectedDay !== "SUMMARY") {
			<button class="btn btn-primary add-expense-btn" (click)="activateForm()">Add Expense</button>
		}
		@if (isFormActive && selectedDay !== "SUMMARY") {
			<app-expense-entry (isFormActive)="activateForm($event)" (addExpense)="addExpense($event)"></app-expense-entry>
		}

		@if (selectedDay === 'SUMMARY') {
			<button class="btn btn-success add-expense-btn" (click)="exportExcel()">Export Excel</button>
		}
		
		<div class="d-flex total-expenses" style="width: unset;">
				Total: <br> {{ calculateTotal() }}$
		</div>
	</div>

<div class="expense-list-container">
	<app-expense-list [expenses]="expenses" (update)="updateExpense($event)" (delete)="deleteExpense($event)">
	</app-expense-list>
</div>

<!-- <ag-grid-angular></ag-grid-angular> -->

<router-outlet></router-outlet>